.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
.background {
  z-index : -9999;
  position: absolute;
  top : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;

}

  /* add animation to bg color  */
  
  @keyframes random-bg {
    from {
      filter: hue-rotate(0);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  
  .fun-btn {
    /* change bg color to get different hues    */
    background-color: salmon;
    color: white;
    padding: 2em 3em;
    border: none;
    transition: all .3s ease;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
    /* font-size: 150%; */
    animation: random-bg .5s linear infinite, grow 1300ms ease infinite;

  }
  

  .start-fun {
    background-color: #fff !important;
    /* change color of button text when fun is started   */
    color: salmon !important;
  }
  
  /* pulsating effect on button */
  @keyframes grow {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.3);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.3);
    }
    70% {
      transform: scale(1);
    }
  }
